<h1>ユーザー編集</h1>
<%= form_for @user do |f| %>
 <% if @user.image? %>
   <%= image_tag @user.image.url, alt: "User image", :size => "100x100" %>
 <% else %>
   <%= image_tag "default.jpg", alt: "User image", :size => "100x100" %>
 <% end %>
   <button type="button" class="btn btn-outline-secondary rounded-pill">
     <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
   </button>
 <p>
   <%= f.label(:name, "名前") %>
   <%= f.text_field :name %>
 </p>
 <p>
   <%= f.label(:sex, "性別") %>
   <%= f.text_field :sex %>
 </p>
 <p>
   <%= f.label(:birthday, "生年月日") %>
   <%= f.text_field :birthday %>
 </p>
 <p>
   <%= f.label(:comment, "コメント") %>
   <%= f.text_field :comment %>
 </p>
 <p>
   <%= f.label(:email, "メールアドレス") %>
   <%= f.text_field :email %>
 </p>
 <p>
   <%= f.label :password, "パスワード" %>
   <%= f.password_field :password %>
 </p>
 <p>
   <%= f.label :password_confirmation, "パスワード再入力" %>
   <%= f.password_field :password_confirmation %>
 </p>
 
 <%= f.submit "編集完了" %>
<% end %>