<h1>ユーザー詳細</h1>
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><label style="margin-right: 10px;">名前</label><%= @user.name %></h3>
        <ul style="list-style: none;">
          <li>
             <% if @user.image? %>
               <%= image_tag @user.image.to_s, alt: "User image", :size => "100x100" %>
             <% else %>
               <%= image_tag "default.jpg", alt: "User image", :size => "100x100" %>
             <% end %>
          </li>
          <li><label style="margin-right: 10px;">性別</label><%= @user.sex %></li>
          <li><label style="margin-right: 10px;">生年月日</label><%= @user.birthday %></li>
          <li><label style="margin-right: 10px;">コメント</label><%= @user.comment %></li>
        </ul>
      </div>
      <% if current_user == @user %>
        <%= link_to "アイテム登録する", new_item_path, class: "btn btn-lg btn-primary" %>
        <%= link_to "編集", edit_user_path, class: "btn btn-lg btn-primary" %>
        <%= link_to "退会", @user, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-lg btn-danger" %>
      <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <% @user.items.each do |item| %>
      <div>
        <% if item.image? %>
          <%= image_tag item.image.to_s, alt: "Item image", :size => "100x100" %>
        <% else %>
          <%= image_tag "default.jpg", alt: "Item image", :size => "100x100" %>
        <% end %>
        <%= item.name %>
        <%= item.comment %>
      </div>
      <div>
        <p><%= link_to "アイテム詳細", item_path(item) %></p>
      </div>
    <% end %>
  </div>

