<% if items.any? %>
    <% items.each do |item| %>
      <div class="card sm-3" style="max-width: 540px">
        <div class="row no-gutters">
          <div class="col-sm-4 my-auto" style="text-align: center">
            <% if item.image? %>
              <%= link_to image_tag(item.image.to_s, alt: "Item image", :width => "50%", :height => "auto"), item_path(item) %>
            <% else %>
              <%= link_to image_tag("default.jpg", alt: "Item image", :width => "50%", :height => "auto"), item_path(item) %>
            <% end %>
          </div>
          <div class="col-sm-8">
            <div class="card-body">
              <h4 class="card-title"><%= item.name.truncate(20) %></h4>
              <p class="card-text"><%= item.comment.truncate(50) %></p>
              <p><%= link_to 'Onedari詳細', item_path(item) %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
<% end %>