<% if items.any? %>
  <ul class="list-unstyled">
    <% items.each do |item| %>
      <li class="media">
        <div class="media-body">
          <div>
            <% if item.image? %>
              <%= image_tag item.image.to_s, :size => "100x100" %>
            <% else %>
              <%= image_tag "default.jpg", :size => "100x100" %>
            <% end %>
            <%= item.name %>
            <%= item.comment %>
          </div>
          <div>
            <p><%= link_to 'アイテム詳細', item_path(item) %></p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>