<div class="text-center">
  <h1>Onedari登録</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= form_with(model: @item, local: true) do |f| %>
      <%= render "layouts/error_messages", model: f.object %>
      
      <div class="form-group">
        <%= f.label :name, 'Onedariするもの' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      
        <div class="form-group">
          <i class="fab fa-amazon", style="margin-right: 10px;"></i><%= f.label :url, 'https://www.amazon.jp/hz/wishlist/ls/' %>
          <%= f.text_field :url, :placeholder => "上記URLに続く文字列を入力（Amazonほしい物リストのURL）", class: 'form-control' %>
        </div>
      
      <div class="form-group">
        <i class="fas fa-yen-sign", style="margin-right: 10px;"></i><%= f.label :price %>
        <%= f.text_field :price, class: 'form-control' %>
      </div>

      <div class="form-group">
        <i class="far fa-comment", style="margin-right: 10px;"></i><%= f.label :comment %>
        <%= f.text_field :comment, class: 'form-control' %>
      </div>

      <%= f.submit 'アイテム登録', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>