<h1>Onedari詳細</h1>
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><label style="margin-right: 10px;">名前</label><%= @item.name %></h3>
        <ul style="list-style: none;">
          <li style="text-align: center">
             <% if @item.image? %>
               <%= link_to image_tag(@item.image.to_s, alt: "Item image", :width => "50%", :height => "auto"), item_path(@item) %>
             <% else %>
               <%= link_to image_tag("default.jpg", alt: "Item image", :width => "50%", :height => "auto"), item_path(@item) %>
             <% end %>
          </li>
          <li><label style="margin-right: 10px;"><i class="fab fa-amazon"></i></label><%= @item.url %></li>
          <li><label style="margin-right: 10px;"><i class="fas fa-yen-sign"></i></label><%= @item.price %></li>
          <li><label style="margin-right: 10px;"><i class="far fa-comment"></i></label><%= @item.comment %></li>
        </ul>
      </div>
      <% if current_user == @item.user %>
        <%= link_to "編集", edit_item_path, class: "btn btn-lg btn-primary" %>
        <%= link_to "削除", @item, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-lg btn-danger" %>
      <% end %>
      <%= link_to "Onedariユーザー", @item.user, class: "btn btn-lg btn-link" %>
      <%= link_to "支援する", attention_path(@item), data: { confirm: "支援をしますか？" }, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</div>